.outer-div {
  position: relative;
  border-radius: 50%;
}

.inner-div {
  border-radius: 50%;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.inner-shadow{
   box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.outer-shadow{
 box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.shadow-no{
    box-shadow: none !important;
}

.text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-area p {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00235B;
}
.percentage{
    font-size: 1.5rem;
    font-weight: 600;
}

.text{
    font-size: 1.3rem;
    font-weight: 500;
}
